* {
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-height: 100vh;
    padding-top: 4rem;
}

.cover,
.cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .86);
    mix-blend-mode: multiply;
    z-index: -1;
}

.cover-img {
    z-index: -2;
}

.content-box {
    position: relative;
    width: 30%;
    min-height: 10px;
    text-align: center;
}

.title-text span:first-child {
    color: #cc784e;
    font-size: 3rem;
}

.title-text span:last-child {
    color: #ff6f00;
    font-size: 4rem;
}

.sub-title {
    font-size: 1rem;
    color: #cccccc;
    font-style: italic;
}

.login-box input {
    width: 100%;
    height: 4rem;
    margin-top: 1.5rem;
    border-radius: 8px;
    background-color: transparent;
    border: solid 2px #cccccc;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all .3s;
}

.login-box input[type=submit] {
    padding-left: 0;
    border: none;
    background-color: #ff6f00;
    cursor: pointer;
    transition: all .3s;
}

.login-box input[type=submit]:hover {
    color: #ff6f00;
    background-color: #ffffff;
    border: solid 2px #ffffff;
}

.login-box .check-login-status {
    width: 100%;
    color: #ffffff;
    margin-top: 1.5rem;
    font-size: 1rem;
}

.login-box .check-login-status input {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-right: .3rem;
}

.login-box-sub {
    margin-top: 3rem;
    text-align: center;
}

.login-box-sub a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    margin-bottom: .3rem;
}

.text-highlight {
    color: #ff6f00;
}

.copyright {
    position: absolute;
    bottom: 2rem;
    color: #ffffff;
    text-align: center;
    width: 100%;
}